@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #1c2632;
  --color-surface-highlight: #25303d;

  --font-display: "Manrope", sans-serif;
  --font-sans: "Manrope", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
  body {
    font-family: var(--font-display);
  }

  /* Custom scrollbar for better aesthetic */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background-dark);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-surface-highlight);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}